WEB SCRAPING – ASSIGNMENT 2

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [2]:
#Let import the required libraries

In [65]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [24]:
pip install webdriver-manager

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: webdriver-manager in c:\users\acer\appdata\roaming\python\python39\site-packages (3.8.3)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from webdriver-manager) (4.64.0)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from webdriver-manager) (2.27.1)
Requirement already satisfied: python-dotenv in c:\users\acer\appdata\roaming\python\python39\site-packages (from webdriver-manager) (0.21.0)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver-manager) (2021.10.8)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.4)

In [25]:
from selenium import webdriver

from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(ChromeDriverManager().install())

driver.get("http://www.python.org")

driver.close()

In [42]:
#Let first connect to the driver
driver=webdriver.Chrome(r"C:\chrome driver\chromedriver.exe")

In [45]:
#Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [46]:
#entering designation as required in the question

In [54]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
designation.send_keys('Data Analyst')

In [49]:
#entering location as required in the question

In [55]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [51]:
#Click on search button

In [56]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [57]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [58]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [59]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [60]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [61]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [62]:
#let check the length of each required data

print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [63]:
# Storing the data into dataframe

df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Experence_required':experience_required})

In [64]:
# Storing the data into dataframe
df

,Job_title,Job_location,Company_name,Experence_required
0,Senior Data Analyst,"Bangalore/Bengaluru, Chennai",Latentview,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
2,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs
3,Call For Clinical Data Analyst - Hyd/Bangalore...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,6-9 Yrs
4,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
5,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,5-10 Yrs
6,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
7,Data Analytics and Interpretation Business Ana...,Bangalore/Bengaluru,Accenture,6-8 Yrs
8,HR Data Analyst,Bangalore/Bengaluru,Hitachi Ltd.,3-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,ANZ,7-12 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note: All of the above steps have to be done in code. No step is to be done manually.

In [66]:
#Let import the required libraries

In [67]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [68]:
#Let first connect to the driver
driver=webdriver.Chrome(r"C:\chrome driver\chromedriver.exe")

In [69]:
#Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [70]:
#entering designation as required in the question

In [71]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
designation.send_keys('Data Scientist')

In [72]:
#entering location as required in the question

location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [73]:
#Click on search button

search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [74]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [75]:
# Scrapping Job title

title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [76]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [77]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [78]:
#let check the length of each required data

print(len(job_title),len(job_location),len(company_name))

10 10 10

In [79]:
# Storing the data into dataframe

df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name})

In [80]:
df

,Job_title,Job_location,Company_name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
4,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
5,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates
6,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra
7,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group
8,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
9,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [81]:
#Let first connect to the driver
driver=webdriver.Chrome(r"C:\chrome driver\chromedriver.exe")

In [82]:
#Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [83]:
#entering designation as required in the question

In [84]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
designation.send_keys('Data Scientist')

In [85]:
#entering location as required in the question

location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [86]:
#Click on search button

search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [87]:
#applying the salary filter

search=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
search.click()

In [88]:
#applying the location filter

search=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[13]/div[2]/div[3]/label/p/span[1]")
search.click()

In [89]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [90]:
# Scrapping Job title

title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [91]:
# Scrapping Job location

location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [93]:
# Scrapping company name

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [94]:
# Scrapping experience required

experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [95]:
#let check the length of each required data

print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [96]:
# Storing the data into dataframe

df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Experence_required':experience_required})

In [97]:
df

,Job_title,Job_location,Company_name,Experence_required
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
3,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
4,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
5,Data Scientist,Gurgaon/Gurugram,IHS Markit,3-6 Yrs
6,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
7,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
8,Data Scientist,Noida,NGI Ventures,0-5 Yrs
9,Data Scientist,Noida,Intrics Solutions,3-8 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [101]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [102]:
#Let first connect to the driver
driver=webdriver.Chrome(r"C:\chrome driver\chromedriver.exe")

In [103]:
#Opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [104]:
#search the “sunglasses” and click search button 

product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('Sunglasses')

In [105]:
#click on the search button

search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [106]:
Brand = []
Product_Description = []
Price= []

In [107]:
for i in range(3):
    brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:Brand.append(i.text)
    
    product_des = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in product_des:Product_Description.append(i.text)    
    
    price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in price:Price.append(i.text)
    
time.sleep(3)        
        
        
nxt_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page
nxt_button.click()

In [108]:
print(len(Brand),len(Product_Description),len(Price))

120 120 120

In [109]:
# lets  make dataframe from the scraped data

df = pd.DataFrame({'Brand': Brand,'Product_Description':Product_Description,'Price':Price})

df.iloc[0:100,:]

                Brand                                Product_Description Price
0       VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...  ₹999
1          LIZA ANGEL  UV Protection, Polarized Rectangular Sunglasse...  ₹261
2            Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹799
3   SHAAH COLLECTIONS                UV Protection Round Sunglasses (54)  ₹179
4                MODE       UV Protection Aviator Sunglasses (Free Size)  ₹179
..                ...                                                ...   ...
95             GANSTA    Gradient, UV Protection Aviator Sunglasses (57)  ₹272
96             PIRASO          UV Protection Rectangular Sunglasses (52)  ₹246
97  SHAAH COLLECTIONS                UV Protection Round Sunglasses (52)  ₹179
98      VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...  ₹599
99      VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...  ₹999

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.
You will reach to the below shown webpage .

As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [110]:
#Let first connect to the driver
driver=webdriver.Chrome(r"C:\chrome driver\chromedriver.exe")

In [111]:
#Opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [112]:
#search the “iphone 11” and click search button 

product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('iphone 11')

In [132]:
#Click on search button

search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button/svg")
search.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button/svg"}
  (Session info: chrome=106.0.5249.62)
Stacktrace:
Backtrace:
	Ordinal0 [0x00471ED3+2236115]
	Ordinal0 [0x004092F1+1807089]
	Ordinal0 [0x003166FD+812797]
	Ordinal0 [0x003455DF+1005023]
	Ordinal0 [0x003457CB+1005515]
	Ordinal0 [0x00377632+1209906]
	Ordinal0 [0x00361AD4+1120980]
	Ordinal0 [0x003759E2+1202658]
	Ordinal0 [0x003618A6+1120422]
	Ordinal0 [0x0033A73D+960317]
	Ordinal0 [0x0033B71F+964383]
	GetHandleVerifier [0x0071E7E2+2743074]
	GetHandleVerifier [0x007108D4+2685972]
	GetHandleVerifier [0x00502BAA+532202]
	GetHandleVerifier [0x00501990+527568]
	Ordinal0 [0x0041080C+1837068]
	Ordinal0 [0x00414CD8+1854680]
	Ordinal0 [0x00414DC5+1854917]
	Ordinal0 [0x0041ED64+1895780]
	BaseThreadInitThunk [0x764DFA29+25]
	RtlGetAppContainerNamedObjectPath [0x77247B5E+286]
	RtlGetAppContainerNamedObjectPath [0x77247B2E+238]

In [124]:
#click on the "APPLE iPhone 11 (White, 128 GB)"

search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [125]:
Rating = []
Review_summary = []
Full_review = []

In [126]:
for i in range(10):
    rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:Rating.append(i.text)
        
    summary=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary:Review_summary.append(i.text)
    
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:Full_review.append(i.text)           
        
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

In [127]:
Review_summary

['Perfect product!',
 'Terrific',
 'Value-for-money',
 'Classy product',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Perfect product!',
 'Terrific',
 'Value-for-money',
 'Classy product',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Perfect product!',
 'Terrific',
 'Value-for-money',
 'Classy product',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Perfect product!',
 'Terrific',
 'Value-for-money',
 'Classy product',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Perfect product!',
 'Terrific',
 'Value-for-money',
 'Classy product',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Perfect product!',
 'Terrific',
 'Value-for-money',
 'Classy product',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Perfect product!',
 'Terrific',
 'Value-for-money',
 'Classy product',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Perfect product!',
 'Terrific',
 'Value-for-money',
 'Classy product',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Perfect product!',
 'Terrific',
 'Value-for-money',
 'Classy product',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Perfect product!',
 'Terrific',
 'Value-for-money',
 'Classy product',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Mind-blowing purchase']

In [128]:
print(len(Rating),len(Review_summary),len(Full_review))

80 80 80

In [129]:
# lets  make dataframe from the scraped data

df = pd.DataFrame({'Rating': Rating,'Review_summary':Review_summary,'Full_review':Full_review})

df.iloc[0:100,:]

   Rating         Review_summary            Full_review
0       5       Perfect product!       Perfect product!
1       5               Terrific               Terrific
2       4        Value-for-money        Value-for-money
3       5         Classy product         Classy product
4       4   Good quality product   Good quality product
..    ...                    ...                    ...
75      5         Classy product         Classy product
76      4   Good quality product   Good quality product
77      5       Perfect product!       Perfect product!
78      5              Fabulous!              Fabulous!
79      5  Mind-blowing purchase  Mind-blowing purchase

[80 rows x 3 columns]

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.
Note: All the steps required during scraping should be done through code only and not manually.

In [133]:
#Let first connect to the driver
driver=webdriver.Chrome(r"C:\chrome driver\chromedriver.exe")

In [134]:
#opening the flipkart website on automated chrome window
driver.get('https://www.flipkart.com/')

In [135]:
#search the “sneakers” and click search button 

product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('sneakers')

In [136]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [137]:
Brand = []
Product_Description = []
Price= []

In [138]:
for i in range(3):
    product_des = driver.find_elements(By.XPATH,"//div[@class='_2B099V']/a[1]")
    for i in product_des:Product_Description.append(i.text)
   
    brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:Brand.append(i.text)
      
    price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in price:Price.append(i.text)
                   
nxt_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page
nxt_button.click()

In [139]:
print(len(Brand),len(Product_Description),len(Price))

120 120 120

In [140]:
data=pd.DataFrame()
data['Brand']=Brand
data['Product_Description']=Product_Description
data['Price']=Price
data.head(100)

,Brand,Product_Description,Price
0,RapidBox,Sneakers For Men,₹590
1,RapidBox,Sneakers For Men,₹610
2,RED TAPE,Sneakers For Men,"₹1,499"
3,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹259
4,World Wear Footwear,Latest Collection-1215 Stylish Casual Sports S...,₹298
...,...,...,...
95,EZDEZARIO,Sneakers For Men,₹499
96,Rzisbo,Sneakers For Men,₹549
97,Deals4you,Sneakers For Women,₹389
98,Shozie,Sneakers For Men,₹478
99,U.S. POLO ASSN.,TARANTIA Sneakers For Men,"₹2,339"

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.
Note: Applying the filter and scraping the data, everything should be done through code only and there
should not be any manual step.

In [141]:
#Let first connect to the driver
driver=webdriver.Chrome(r"C:\chrome driver\chromedriver.exe")

In [142]:
#opening the myantra website on automated chrome window
driver.get('https://www.myntra.com/shoes')

In [143]:
filter_price=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]")
filter_price.click()

In [144]:
filter_black=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
filter_black.click()

In [145]:
Shoe_Brand = []
Shoe_Description = []
Shoe_Price= []

In [146]:
for i in range(3):
    
    brand = driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brand:Shoe_Brand.append(i.text)
        
    product_des = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in product_des:Shoe_Description.append(i.text)
        
    price = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in price:Shoe_Price.append(i.text)
                   
nxt_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]') 
nxt_button.click()

In [147]:
print(len(Shoe_Brand),len(Shoe_Description),len(Shoe_Price))

150 150 150

In [148]:
data=pd.DataFrame()
data['Shoe_Brand']=Shoe_Brand
data['Shoe_Description']=Shoe_Description
data['Shoe_Price']=Shoe_Price
data.head(100)

,Shoe_Brand,Shoe_Description,Shoe_Price
0,Skechers,Men Go Walk Walking Shoes,Rs. 6374Rs. 7499(15% OFF)
1,ADIDAS Originals,Men Leather Niteball Sneakers,Rs. 9599Rs. 11999(20% OFF)
2,Puma,Men Liberate Running Shoes,Rs. 9349Rs. 10999(15% OFF)
3,ADIDAS Originals,Men ZX 22 BOOST Sneakers,Rs. 10199Rs. 11999(15% OFF)
4,Skechers,Men GO WALK - TERRA Shoes,Rs. 8499Rs. 9999(15% OFF)
...,...,...,...
95,Puma,Cali Dream Leather Sneakers,Rs. 6399Rs. 7999(20% OFF)
96,ADIDAS Originals,Unisex Woven EQT93 Sandals,Rs. 7999Rs. 9999(20% OFF)
97,Skechers,Men Sky Vault Walking Shoes,Rs. 8999
98,ADIDAS,Women OZ-Takedown Running,Rs. 6999
99,Tommy Hilfiger,Men Solid Sneakers,Rs. 7499Rs. 9999(25% OFF)

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
Note: All the steps required during scraping should be done through code only and not manually.

In [149]:
#Let first connect to the driver
driver=webdriver.Chrome(r"C:\chrome driver\chromedriver.exe")

In [150]:
#opening the myantra website on automated chrome window
driver.get('https://www.amazon.in')

In [151]:
#search the “Laptop” and click search button 

product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('Laptop')

In [152]:
#search the “laptop” and click search button 

search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [159]:
#search the “laptop” and click search button 

filter_CPU=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
filter_CPU.click()

In [160]:
Title = []
Ratings = []
Price = []

In [161]:
product_title= driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in product_title:Title.append(i.text)
        
product_rating = driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in product_rating:Ratings.append(i.text)
        
product_price = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in product_price:Price.append(i.text)

In [163]:
print(len(Title),len(Ratings),len(Price))

24 24 28

In [164]:
data=pd.DataFrame()
data['Title']=Title
data['Ratings']=Ratings
data['Price']=Price
data.head(10)

ValueError: Length of values (28) does not match length of index (24)

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be done through code only and not manually.

In [165]:
#Let first connect to the driver
driver=webdriver.Chrome(r"C:\chrome driver\chromedriver.exe")

In [166]:
#opening the ambitionbox website on automated chrome window
driver.get('https://www.ambitionbox.com/')

In [167]:
#search the “Data scientist” and click search button 

search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[1]/header/nav/ul/li[5]/a")
search.click()

In [168]:
#search the “Data scientist” and click search button 

designation=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
designation.send_keys('Data Scientist')

In [169]:
#search the “Data scientist” and click search button 

search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
search.click()

In [170]:
search_location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
search_location.click()

In [171]:
#search the “Datascientist” and click search button 

enter_location=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
enter_location.send_keys('Noida')

In [172]:
filter_Noida=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
filter_Noida.click()

In [173]:
company_name = []
job_posted = []
company_rating = []

In [174]:
name= driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in name:company_name.append(i.text)
        
posted = driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in posted:job_posted.append(i.text)
        
rating = driver.find_elements(By.XPATH,'//span[@class="body-small"]')
for i in rating:company_rating.append(i.text)

In [175]:
posted=job_posted[::2]
posted

['', '', '', '', '', '', '', '', '', '']

In [176]:
print(len(company_name),len(posted),len(company_rating))

10 10 10

In [178]:
data=pd.DataFrame()
data['company_name']=company_name
data['job_posted']=posted
data['company_rating']=company_rating
data.head(10)

  company_name job_posted company_rating
0
1
2
3
4
5
6
7
8
9

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.
Note: All the steps required during scraping should be done through code only and not manually

In [179]:
#Let first connect to the driver
driver=webdriver.Chrome(r"C:\chrome driver\chromedriver.exe")

In [180]:
#opening the ambitionbox website on automated chrome window
driver.get('https://www.ambitionbox.com/')

In [182]:
#select "salary" option

Click_on_salary=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]/span')
Click_on_salary.click()

In [183]:
#select "salary" option

Click_on_browse_salary=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div/div[2]/a')
Click_on_browse_salary.click()

In [184]:
#search the “Data Scientist”  

designation=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
designation.send_keys('Data Scientist')

In [185]:
#search the “Data Scientist” and click search button 

search_button=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
search_button.click()

In [186]:
Company_name = []
Total_Salary_Records = []
Average_salary = []
Minimum_salary = []
Maximum_salary = []
Experience_required = []

In [187]:
name = driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in name:Company_name.append(i.text.split("\n")[0])
        
record = driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in record:Total_Salary_Records.append(i.text)
        
avg_salary = driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in avg_salary:Average_salary.append(i.text)

min_salary = driver.find_elements(By.XPATH,'//div[@class="salary-values"]')
for i in min_salary:Minimum_salary.append(i.text.split("\n")[0])
    
max_salary = driver.find_elements(By.XPATH,'//div[@class="salary-values"]')
for i in max_salary:Maximum_salary.append(i.text.split("\n")[1])

exp_req = driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in exp_req:Experience_required.append(i.text.split("\n")[0])

In [188]:
Company_name=Company_name[0:10]
Company_name

['Walmart',
 'Ab Inbev',
 'Optum',
 'ZS',
 'Fractal Analytics',
 'Sigmoid Analytics',
 'Tiger Analytics',
 'Legato Health Technologies',
 'HSBC',
 'Tredence']

In [189]:
#Checking length 

print(len(Company_name),len(Total_Salary_Records),len(Average_salary),len(Minimum_salary),len(Maximum_salary),len(Experience_required))

10 10 10 10 10 10

In [190]:
# Create Dataframe

df = pd.DataFrame({'Company_name':Company_name,'Total_Salary_Records':Total_Salary_Records,'Average_Salary':Average_salary,'Minimum_Salary':Minimum_salary,'Maximum_Salary':Maximum_salary,'Experience_required':Experience_required})
df

,Company_name,Total_Salary_Records,Average_Salary,Minimum_Salary,Maximum_Salary,Experience_required
0,Walmart,(based on 24 salaries),₹ 32.2L,₹ 25.0L,₹ 45.0L,3-4 yrs experience (based on 24 salaries)
1,Ab Inbev,(based on 59 salaries),₹ 19.8L,₹ 15.0L,₹ 26.0L,2-4 yrs experience (based on 59 salaries)
2,Optum,(based on 49 salaries),₹ 16.4L,₹ 11.0L,₹ 22.6L,2-4 yrs experience (based on 49 salaries)
3,ZS,(based on 35 salaries),₹ 15.9L,₹ 11.0L,₹ 22.0L,1-2 yrs experience (based on 35 salaries)
4,Fractal Analytics,(based on 118 salaries),₹ 15.5L,₹ 9.0L,₹ 23.0L,2-4 yrs experience (based on 118 salaries)
5,Sigmoid Analytics,(based on 10 salaries),₹ 14.7L,₹ 12.7L,₹ 19.7L,1 yr experience (based on 10 salaries)
6,Tiger Analytics,(based on 70 salaries),₹ 14.6L,₹ 9.0L,₹ 20.0L,2-4 yrs experience (based on 70 salaries)
7,Legato Health Technologies,(based on 11 salaries),₹ 14.5L,₹ 11.0L,₹ 20.0L,4 yrs experience (based on 11 salaries)
8,HSBC,(based on 10 salaries),₹ 14.0L,₹ 12.0L,₹ 18.0L,4 yrs experience (based on 10 salaries)
9,Tredence,(based on 14 salaries),₹ 13.9L,₹ 8.8L,₹ 17.5L,3 yrs experience (based on 14 salaries)